!!!
%html
  %head
    :javascript
      window.App = window.App || {}
      window.App.Data = window.App.Data || {}
      window.App.Data.groupId = "#{@groupId}"
      window.App.Data.currentUser = "#{@currentUser}"
      window.App.Data.lastMessageTime = "#{@lastMessageTime}"

      function myFunction() {
        $.ajax({
          url: "/conversations/" + window.App.Data.groupId,
          type: "get",
          data: {lastMessageTime: window.App.Data.lastMessageTime},
          success: function(response){
            $('#message-board').prepend(response.html);
            window.App.Data.lastMessageTime = response.lastMessageTime
          }
        });
      }

  %body
    %script App.users.followConversationsAndUsersChange()
    .container
      %nav.navbar.navbar-default
        .navbar-header
          %button.navbar-toggle{"type" => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
            %span.sr-only
              Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand
            Welcome
            %strong
              = @currentUser

        .collapse.navbar-collapse.navbar-collapse.navbar-right#navbar
          %ul.nav.navbar-nav
            %li
              = link_to "Log out", {:controller => 'sessions', :action => 'destroy',:id => "dummy"}, :method => 'delete'

      .row
        .col-sm-3
          .panel.panel-info
            .panel-heading
              .panel-title
                Avalible users
            .panel-body{:id => "users-board", :style => "padding: 0px; min-height: 0px; max-height: 500px; max-with: 100px; overflow-y: scroll"}
              .list-group{:style => "margin: 0px"}
                - @userNames.each do |name|
                  .list-group-item
                    = link_to name, {:controller => 'users', :action => 'index', :selectedUser => name}
        .col-sm-9
          - if @selectedUser
            .panel.panel-info
              .panel-heading
                .panel-title
                  Chatting with:
                  = @selectedUser
              .panel-body{:id => "message-board", :style => "min-height: 100px; max-height: 500px; overflow-y: scroll"}
                = raw @lastMessageHtml
            .panel.panel-default
              = form_for :conversation, :url => {:controller => 'conversations', :action => 'create'}, remote:true do |f|
                = f.text_field :context, :class => 'form-control', :id => 'sendContext', :placeholder => 'message', :autofocus => true, :required => true
                = f.text_field :selectedUser, :value => "#{@selectedUser}", :type => 'hidden'
                = f.submit "Send", :style => "float: right", :class => 'button btn button-success btn-primary'
              .btn.btn-success{:onclick => 'myFunction()'}
                Previous message
          - else
            %h3{:style => "margin-top: 0px"}
              %span.label.label-warning Please select a person to chat with.
